@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script&family=M+PLUS+Rounded+1c&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script&family=M+PLUS+Rounded+1c&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script&family=M+PLUS+Rounded+1c&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&family=Young+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.roboto-mono{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
  }
.satisfy-regular {
  font-family: "Satisfy", serif;
  font-weight: 500;
  font-style: normal;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}
.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 500;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 200;
  font-style: normal;
}



html,body{
height: 100%;
width: 100%;
background-color: black;
color: white
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(33, 31, 31);
  }
}