@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Dancing+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.roboto-mono{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
  }
.satisfy-regular {
  font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}



html,body{
height: 100%;
width: 100%;
background-color: black;
color: white
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(33, 31, 31);
  }
}